* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #19191f;
    color: red;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .title {
    color: yellow;
    font-size: 1.5rem;
    text-align: center;
  }
  .temp-converter {
    background: darkblue;
    border-radius: 50px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px 20px;
    min-width: 320px;
    width: 100%;
    height: auto;
  }
  .result {
    text-align: center;
    margin: 20px 0;
  }
  .result-heading {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
  }
  .celsius-value {
    border-bottom: 2px solid #f5d7d7;
    padding: 10px;
  }
  label {
    color: linen;
    font-size: 1;
    margin-bottom: 5px;
  }
  input,
  select {
    background: transparent;
    color: #e4e4ee;
    border: none;
    outline: none;
    border-bottom: 2px solid #0d9cdf;
    padding: 8px;
    margin-bottom: 15px;
  }
  input:focus {
    border: 1px solid #12e651;
  }
  .degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .degree-field {
    display: flex;
    flex-direction: column;
    width: 46%;
  }
  option {
    background-color: #b8b8e4;
    color: black;
  }
  #convert-btn {
    background: linear-gradient(to bottom , #bdafb3, #b019c4);
    border: none;
    outline: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.3s ease-in;
  }
  #convert-btn:hover {
    background: red;
    transition: 0.9 ease-in-out;
  }