body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: linen;
}
  
header {
  background-color: #5f7fe9d2;
  color: #fff;
  padding: 10px 0;
  display: flex;
}
  
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
  
nav ul li {
  display: inline-block;
  margin-top: 22px;
  margin-left: 280px;
  font-size: 19px;
}
  
nav ul li a {
  color: #fff;
  text-decoration: none;
}
  
nav ul li a:hover {
  color: #ff0000;
  transition: 0.4s ease-in-out;
}
  
.logo {
  font-weight: bolder;
  font-size: 50px;
  margin-left: 8px;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
  
.bio img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: auto;
  justify-content: flex-start;
}
 

.bio p {
  height: 100px;
  width: 850px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-right: 55px;
  font-size: 20px;

}
  
h3 {
  margin-left: 130px;
}

button {
  margin-left: 150px;
}

button#downloadResume {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #11e470;
  color: #fff;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}
  
button#downloadResume:hover {
  background-color: #00b38c;
  transition: 0.6s ease-in-out;
}

.education-qualification {
  display: flex;
  justify-content: space-around;
    
}


h2 {
  margin-left: 550px;
  font-size: 60px;

}

.graduation {
  background-color: #11e470;
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.graduation p {
  margin-left: 45px;
}
.intermediate {
  background-color: aqua;
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.intermediate p {
  margin-left: 45px;
}

.matriculation {
  background-color: cadetblue;
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
  
.matriculation p {
  margin-left: 45px;
}

h4 {
  margin-left: 70px;
  font-size: 30px;
}

.skills {
  background-color: coral;
  width: 450px;
  height: 180px;
}
.skills p {
  margin-left: 50px;

}

.projects {
  height: 200px;
  width: 400px;
  background-color: rgb(255, 255, 0);
}

.projects p {
  margin-left: 50px;
}

.project-img {
  margin-top: 15px;
  display: flex;
}

.calculator {
  margin-left: 10px;
  font-size: 20px;
}

.landing-page {
  margin-left: 20px;
  font-size: 20px;
}
.calculator img {
  margin-left: 2px;
  width: 400px;
  height: 510px;
}

.landing-page img {
  width: 900px;
}

.project-img2 {
  margin-top: 15px;
  display: flex;
}

.portfolio-website {
  margin-left: 10px;
  font-size: 20px;
}

.portfolio-website img {
  margin-left: 2px;
  width: 610px;
  height: 450px;
}

.spotify-clone {
  margin-left: 20px;
  font-size: 20px;
}

.spotify-clone img {
  width: 690px;
  height: 450px;
}

.project-img3 {
  margin-top: 15px;
  display: flex;
}

.amazon-clone {
  margin-left: 10px;
  font-size: 20px;
}

.amazon-clone img {
  margin-left: 2px;
  width: 650px;
  height: 400px;
}

.flipkart-clone {
  margin-left: 20px;
  font-size: 20px;
}

.flipkart-clone img {
  width: 655px;
  height: 400px;
}

footer {
  background-color: darkslategray;
  text-align: center;
  padding: 1rem 0;
}

footer .footer-socials a {
  margin-right: 1rem;
  color: white;

}

footer .footer-socials {
  margin-bottom: 3px;
  margin-right: 1rem;
  font-size: 25px;
}

.copyright {
  margin-right: 28px;
}

.footer-socials a :hover {
  color: rgb(255, 13, 13);
  transition: 0.4s ease-in-out;
}



